<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../quoteFile/angular.min.js"></script>
</head>
<body>
    <!-- <div data-ng-app="myApp" ng-controller="myCtrl"> -->
     <!--    <p>名字：<input type="text"  ng-model="name" ></p>
        <p>城市：<input type="text" name="city" ng-model="city"  ></p>
        detail：{{name +' '+ city}} -->
    <!-- </div> -->
    44444444
</body>
</html>
<!-- <script type="text/javascript">
    angular.module('myApp', [])
        .controller('myCtrl', function ($scope) {
            $scope.name = "xujie";
            $scope.city = "wuhan";
        });
</script> -->