<!DOCTYPE html>
<html>
<head>
	<title>Kitty Home</title>
	<meta charset="utf-8">
	<!-- 使用最新版本的ie解析html -->
	<meta http-equiv="X-UA_Compatible" content="IE=edge">
	<!-- 初始化窗口大小和缩放比例 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#FFC028">

	<!-- 浏览器页签图标 -->
	<link rel="shortcut icon" href="theme/image/favicon.ico" type="image/x-icon">
	<!-- 引用bootstrap框架 -->
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="theme/css/common.css">
</head>
<body class="body_bg">
	<div class="top">
		
	</div>
	<div class="main"></div>
	<div class="fix"></div>
	<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>