*{
	margin: 0px;
	padding: 0px;
	float: left;
}
#small{
	width: 87px;
	height: 96px;
	border: 1px solid #ccc;
	margin-left: 500px;
	margin-top: 200px;
}
#big{
	width: 174px;
	height: 191px;
	border: 1px solid #ccc;
	margin-top: 200px;
	margin-left: 30px;
}
#cell{
	width: 30px;
	height: 30px;
	background-color: #red;
	position: absolute;
	left: 0;
	top: 0;
}